*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 16px;
}

main{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center; 
}

section#container-login{
width: 450px;
height: 500px;
background-color: #477fc0;   
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-evenly;
}
section#container-login h2{
 font-size: 2rem;
 color:#ffff;
    }
    #container-login form{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;

    }
    .container-input{
        width: 100%;
    }
    #container-login form input {
        width: 100%;
        height: 40px;
        padding: 0 10px;
        margin: 10px 0;
    }

    label{
        color:#ffff;
        font-weight: 700;
        cursor:pointer
    }
    a{
        color:#ffff;
        text-decoration: none;
    }

a:hover{
    color:#f1d4d4;
}

#container-signup{
    width: 450px;
    min-height: 500px;
    background-color: #477fc0;   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    }

    section#container-signup h2{
        font-size: 2rem;
        color:#ffff;
           }
    #container-signup form{
               display: flex;
               flex-direction: column;
               align-items: center;
               width: 80%;
       
           }

  #container-signup form input {
   width: 100%;
   height: 40px;
   padding: 0 10px;
   margin: 10px 0;
        }
#container-signup form select{
    width: 100%;
    height: 40px;
    padding: 0 10px;
    margin:10px 0

}
.container-radio{
display: flex;

}


#container-signup .container-radio label{
    padding: 0 10px;
    margin-bottom: 10px;
}

#container-signup .container-radio input[type="radio"] {
    width: 20px;
    height: 20px;
    cursor: pointer;
    padding: 0;
    margin: 0;
}

